
#borderPane {
    -fx-background-color: #1e2228;
}
/*Hybrid slider and progress-bar*/
#sliderProgress .track {
    /*-fx-text-box-border: #43474e;*/
    /*-fx-control-inner-background: #43474e;   */

    -fx-background-color:null;  /* Hide the track */
    /*-fx-background-insets: 1 0 -1 0, 0, 1;*/
    /*-fx-background-radius: 2.5, 2.5, 1.5;*/
    -fx-padding: 0.208333em; /* 2.5 */
}
.progress-bar .bar {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.progress-bar .track {
    -fx-background-insets: 0;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}



#vboxBottom {
    -fx-background-color: #22272e;
    -fx-background-radius: 10;
    /*-fx-border-color: #333333;*/
    /*-fx-border-radius: 10;*/
}
#vboxMain {
    -fx-background-color: #22272e;
    -fx-background-radius: 10;
    /*-fx-border-color: #333333;*/
    /*-fx-border-radius: 10;*/
}
/* button style when not hover or click */
.button, .toggle-button {
    -fx-font-weight: normal;
    -fx-font-family: Roboto;
    -fx-background-color: transparent;
    -fx-font-size: 13;
    -fx-text-fill: #e3e2e6;
}

/* button style when hover */
.button:hover, #aboutButton:hover, #buttonOpenFolder:hover, #okButton:hover, .toggle-button:hover {
    -fx-background-color: #3d4758;
    -fx-text-fill: #a5c8ff;
    /*-fx-font-weight: bold;*/
    -fx-background-radius: 5;
}

/* button style when hover or clicked */
.button:focused, #buttonOpenFolder:pressed, #aboutButton:pressed, #okButton:pressed,
.toggle-button:pressed, #favoriteSongButton:selected, #shuffleButton:selected {
    -fx-font-weight: bold;
    -fx-text-fill: #00315e;
    -fx-background-radius: 5;
    -fx-background-color: #a5c8ff;
}
.menu-button {
    -fx-border-color: #333333;
    -fx-background-color: transparent;
}



/* make list view background transparent */
.list-view {
    -fx-background-color: transparent;
}


.list-cell {
    -fx-cell-size: 50;
    -fx-background-radius: 5;
    -fx-background-insets: 2;
    -fx-padding: 5;
    -fx-text-fill: #fefefe;
    -fx-font-weight: bold;
    -fx-background-color: #2d333b;

}

/* list cell focus when click or use listView.getFocusModel() to focus */
.list-cell:focused {
    -fx-background-color: #3d4758;
    -fx-text-fill: #a5c8ff;
}
.scroll-bar:vertical{
    -fx-opacity: 0;
}



